[Desktop Entry]
Encoding=UTF-8
Name=MX Conky
Name[ca]=MX Conky
Name[de]=MX Conky
Name[el]=MX Conky
Name[es]=MX Conky
Name[fr]=MX Conky
Name[it]=MX Conky
Name[ja]=MX Conky
Name[nl]=MX Conky
Name[sv]=MX Conky
Comment=Change details of desktop system monitor
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=mx-conky
Terminal=false
Type=Application
Icon=mx-conky
Categories=GNOME;GTK;System;
NoDisplay=false
