[Desktop Entry]
Encoding=UTF-8
Name=MX Conky
Name[de]=MX Conky
Name[es]=MX Conky
Name[fr]=MX Conky
Name[it]=MX Conky
Name[nl]=MX Conky
Comment=Change details of desktop system monitor
Comment[de]=Detaileinstellungen des Desktop-Systemmonitors
Comment[es]=Cambiar detalles del monitor de sistema en el escritorio
Comment[fr]=Modifie les données d'affichage des ressources système
Comment[it]=Modifica impostazioni del monitor di sistema sul desktop
Comment[nl]=Verander details van desktop systeem toezicht
Exec=mx-conky
Terminal=false
Type=Application
Icon=mx-conky
Categories=GNOME;GTK;System;MX-Setup
NoDisplay=false
