[Desktop Entry]
Encoding=UTF-8
Name=MX Conky
Name[am]=MX ኮንኪ
Name[ca]=MX Conky
Name[cs]=MX Conky
Name[de]=MX Conky
Name[el]=MX Conky
Name[es]=MX Conky
Name[fi]=MX Conky
Name[fr]=MX Conky
Name[hi]=MX Conky
Name[hr]=MX Conky
Name[hu]=MX Conky
Name[it]=MX Conky
Name[ja]=MX Conky
Name[kk]=MX Conky
Name[lt]=MX Conky
Name[nl]=MX Conky
Name[pl]=MX Conky
Name[pt_BR]=MX-Conky
Name[pt]=Conky do MX
Name[ro]=MX Conky
Name[ru]=MX Conky
Name[sk]=MX Conky
Name[sv]=MX Conky
Name[tr]=MX Conky
Name[uk]=MX Conky
Name[zh_TW]=MX Conky
Comment=Change details of desktop system monitor
Comment[am]=የ ዴስክቶፕ ስርአት መቆጣጠሪያ ዝርዝር መቀየሪያ
Comment[ca]=Canvia paràmetres del monitor d'escriptori del sistema
Comment[cs]=Change details of desktop system monitor
Comment[de]=Detaileinstellungen des Desktop-Systemmonitors
Comment[el]=Αλλάξτε τα στοιχεία της οθόνης
Comment[es]=Cambiar detalles del monitor de sistema en el escritorio
Comment[fi]=Change details of desktop system monitor
Comment[fr]=Modifie les données d'affichage des ressources système
Comment[hi]=Change details of desktop system monitor
Comment[hr]=Change details of desktop system monitor
Comment[hu]=Asztali rendszerinformációk tulajdonságainak változtatása
Comment[it]=Modifica impostazioni del monitor di sistema sul desktop
Comment[ja]=Change details of desktop system monitor
Comment[kk]=Change details of desktop system monitor
Comment[lt]=Keisti išsamią darbalaukio sistemos monitoriaus informaciją
Comment[nl]=Verander details van desktop systeem toezicht
Comment[pl]=Change details of desktop system monitor
Comment[pt_BR]=Monitor do sistema (exibido na área de trabalho) [conky-all]
Comment[pt]=Monitor do sistema (exibido na área de trabalho) [conky-all]
Comment[ro]=Change details of desktop system monitor
Comment[ru]=Change details of desktop system monitor
Comment[sk]=Change details of desktop system monitor
Comment[sv]=Ändra detaljer i skrivbordets systemmonitor
Comment[tr]=Change details of desktop system monitor
Comment[uk]=Change details of desktop system monitor
Comment[zh_TW]=細部調校桌面上的系統監測工具
Exec=mx-conky
Terminal=false
Type=Application
Icon=mx-conky
Categories=GNOME;GTK;System;MX-Setup
NoDisplay=false
